<h1>My New Try</h1>
<!-- <div>
  <app-boxa></app-boxa>
</div>
<hr>
<div>
  <app-count-display></app-count-display>
</div>
<hr>
<div>
  <app-counter-app></app-counter-app>
</div> -->
<!-- <hr>
<div>
  <app-customer-form></app-customer-form>
</div>
<hr>
<div>
  <app-book></app-book>
</div>-->
<!-- <div>
  <app-book-catlog></app-book-catlog>
</div> -->
<!-- <div>
  <app-bookform></app-bookform>
</div> -->
<!--
<div>
  <app-menu></app-menu>
</div> -->
<!-- <div>
  <app-news></app-news>
</div> -->
<div>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>
<div>
  <app-employee-form></app-employee-form>
</div>
<!-- <div>
  <app-form-validation></app-form-validation>
</div> -->